<template>
  <v-app id="inspire">
    <v-main>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title>Cadastro usuario</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Nome"
                    v-model="name"
                    type="text"
                  ></v-text-field>

                  <v-text-field
                    label="E-mail"
                    v-model="login"
                    type="text"
                    :rules="emailRules"
                  ></v-text-field>

                  <v-text-field
                    id="password"
                    label="Senha"
                    v-model="password"
                    type="password"
                  ></v-text-field>

                  <v-text-field
                    label="Cpf"
                    v-model="cpf"
                    type="text"
                    v-mask="'###.###.###-##'"
                  ></v-text-field>

                  <v-menu
                    ref="menu1"
                    v-model="menu1"
                    :close-on-content-click="false"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="dateFormatted"
                        label="Data aniversario"
                        hint="Seu nascimento"
                        persistent-hint
                        v-bind="attrs"
                        @blur="nascimento = parseDate(dateFormatted)"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="nascimento"
                      no-title
                      @input="menu1 = false"
                    ></v-date-picker>
                  </v-menu>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn to="/login">Voltar ao login</v-btn>
                <v-btn
                  :loading="loadBtn"
                  color="primary"
                  @click="cadastroCliente()"
                  >Cadastrar</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data: (vm) => ({
    // return {
    loadBtn: false,
    login: "",
    password: "",
    emailRules: [
      (v) => !!v || "E-mail é obrigatório",
      (v) => /.+@.+\..+/.test(v) || "E-mail deve ser válido",
    ],
    cpf: "",
    nascimento: new Date().toISOString().substr(0, 10),
    dateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
    menu1: false,
    menu2: false,
    name: "",
    // };
  }),
  //   },
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.nascimento);
    },
  },
  watch: {
    nascimento(val) {
      this.dateFormatted = this.formatDate(this.nascimento);
    },
  },
  methods: {
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;
      const [day, month, year] = date.split("/");
      let dateFormatda = `${year}-${month.padStart(2, "0")}-${day.padStart(
        2,
        "0"
      )}`;
      return dateFormatda;
    },
    cadastroCliente() {
      let _campos = {
        name: this.name,
        nascimento: this.nascimento,
        email: this.login,
        password: this.password,
        cpf: this.cpf,
      };

      if (this.password.length > 0) {
        this.loadBtn = true;
        let baseUrl = "http://127.0.0.1:8000/api/";
        this.$axios
          .post(`${baseUrl}clientes/create`, _campos)
          .then((response) => {
            let resultado = response.data;
            if (resultado.ok) {
              this.$toastr.s(resultado.ok);
              this.login = "";
              this.name = "";
              this.cpf = "";
              this.password = "";
            } else {
              this.$toastr.w(resultado.error);
            }
          })
          .catch((e) => {
            console.log("Excecao ao  logar", e.message);
            this.$toastr.e("Erro no servidor");
            this.loadBtn = false;
          })
          .finally(() => ((this.loadBtn = false), (this.password = "")));
      } else {
        this.$toastr.i("Informe sua senha");
        this.loadBtn = false;
      }
    },
  },
};
</script>
