<template>
  <div>
    <Nav />
    <v-container>
      <v-card>
        <v-card-title class="primary">
          Cadastrar endereço
        </v-card-title>
        <v-container>
          <v-row class="mx-2">
            <v-col class="align-center justify-space-between" cols="12">
              <v-row align="center" class="mr-0">
                <v-avatar size="40px" class="mx-3">
                  <img
                    src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png"
                    alt=""
                  />
                </v-avatar>
                <v-text-field
                  placeholder="Logadouro"
                  v-model="userEndereco.logadouro"
                ></v-text-field>
              </v-row>
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="userEndereco.numero_imovel"
                prepend-icon="mdi-account-card-details-outline"
                type="number"
                placeholder="Número imovel"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="userEndereco.complemento"
                placeholder="Complemento"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-select
                :items="estados"
                v-model="userEndereco.estado"
                label="Estado"
              ></v-select>
            </v-col>
            <v-col cols="12">
              <v-select
                :items="userEndereco.cidades"
                v-model="userEndereco.cidade"
                no-data-text="Não selecionado estado"
                label="Cidade"
              ></v-select>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="userEndereco.bairro"
                prepend-icon="mdi-text"
                placeholder="Bairro"
              ></v-text-field>
            </v-col>

            <v-col class="mb-8">
              <label>
                <h3>Localização</h3>
                <gmap-autocomplete
                  class="form-control"
                  style="width: 100%"
                  placeholder="Digite seu endereço"
                  @place_changed="setPlace"
                  :options="{ fields: ['geometry', 'address_components'] }"
                >
                </gmap-autocomplete>
                <v-btn small color="green" @click="usePlace"
                  >Adicionar localização no mapa</v-btn
                >
              </label>
              <br />
              <br />

              <gmap-map
                :center="{ lat: -4.9609498, lng: -45.2744159 }"
                :zoom="4"
                style="width: 100%; height: 500px"
                :options="{ scrollwheel: true }"
                ref="map"
              >
                <gmap-cluster>
                  <gmap-marker
                    :position="{
                      lat: Number(userEndereco.latitude),
                      lng: Number(userEndereco.logitude),
                    }"
                    v-if="this.place"
                    :draggable="false"
                    title="Endereco localizao"
                  ></gmap-marker>
                </gmap-cluster>
              </gmap-map>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <!-- <v-btn text color="primary">More</v-btn> -->
          <v-spacer></v-spacer>
          <v-btn color="error" to="/">Cancelar</v-btn>
          <v-btn color="primary" @click="cadastrarEndereco">Cadastrar</v-btn>
        </v-card-actions>
      </v-card>
      <br />
      <h2>Endereço Cadastrados</h2>
      <v-card v-for="(item, index) in enderecosCadastrados" :key="index">
        <v-card-title class="green">
          Ultimos endereços cadastrados
        </v-card-title>
        <v-container>
          <v-row class="mx-2">
            <v-col class="align-center justify-space-between" cols="12">
              <v-row align="center" class="mr-0">
                <v-avatar size="40px" class="mx-3">
                  <img
                    src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png"
                    alt=""
                  />
                </v-avatar>
                <v-text-field
                  disabled
                  v-model="item.logadouro"
                  placeholder="Logadouro"
                ></v-text-field>
              </v-row>
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="item.numero_imovel"
                disabled
                prepend-icon="mdi-account-card-details-outline"
                placeholder="Número imovel"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="item.complemento"
                placeholder="Complemento"
                disabled
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                disabled
                v-model="item.estado"
                type="tel"
                prepend-icon="mdi-home"
                placeholder="Estado"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                disabled
                v-model="item.cidade"
                prepend-icon="mdi-home"
                placeholder="Cidade"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="item.bairro"
                disabled
                prepend-icon="mdi-text"
                placeholder="Bairro"
              ></v-text-field>
            </v-col>
            <gmap-map
              :center="{ lat: -4.9609498, lng: -45.2744159 }"
              :zoom="4"
              style="width: 100%; height: 500px"
              :options="{ scrollwheel: true }"
              ref="map"
            >
              <gmap-cluster>
                <gmap-marker
                  :position="{
                    lat: Number(item.latitude),
                    lng: Number(item.longitude),
                  }"
                  :draggable="false"
                  :icon="{
                    url: 'http://127.0.0.1:8000/img/map-marker.png',
                    scaledSize: { width: 25, height: 25 },
                  }"
                  :title="`Endereco localizao ${item.name}`"
                ></gmap-marker>
              </gmap-cluster>
            </gmap-map>
          </v-row>
        </v-container>
        <!-- <v-card-actions>
          <v-btn text color="primary">More</v-btn>
          <v-spacer></v-spacer>
          <v-btn text color="primary" to="/">Cancelar</v-btn>
          <v-btn text @click="cadastrarEndereco">Save</v-btn>
        </v-card-actions> -->
      </v-card>
      <v-overlay :value="loadFull">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
    </v-container>
  </div>
</template>

<script>
import Nav from "@/components/_Nav";

import { gmapApi } from "vue2-google-maps";

import brasil from "../assets/json/brasil.json";

export default {
  name: "endereco",
  components: {
    Nav,
  },
  computed: {
    google: gmapApi,
  },
  watch: {
    "userEndereco.estado"() {
      this.userEndereco.cidades = brasil[this.userEndereco.estado].cidades;
    },
  },
  data() {
    return {
      id: "",
      loadFull: false,
      userEndereco: {
        logadouro: "",
        numero_imovel: null,
        complemento: "",
        bairro: "",
        cidade: "",
        estado: "",
        latitude: null,
        logitude: null,
        cidades: [],
      },
      estado: "",
      place: null,
      enderecosCadastrados: [],
      estados: [
        { value: null, text: "Selecione um estado" },
        { value: "AC", text: "Acre" },
        { value: "AL", text: "Alagoas" },
        { value: "AP", text: "Amapá" },
        { value: "AM", text: "Amazonas" },
        { value: "BA", text: "Bahia" },
        { value: "CE", text: "Ceará" },
        { value: "DF", text: "Distrito Federal" },
        { value: "ES", text: "Espírito Santo" },
        { value: "GO", text: "Goiás" },
        { value: "MA", text: "Maranhão" },
        { value: "MT", text: "Mato Grosso" },
        { value: "MS", text: "Mato Grosso do Sul" },
        { value: "MG", text: "Minas Gerais" },
        { value: "PA", text: "Pará" },
        { value: "PB", text: "Paraíba" },
        { value: "PR", text: "Paraná" },
        { value: "PE", text: "Pernambuco" },
        { value: "PI", text: "Piauí" },
        { value: "RJ", text: "Rio de Janeiro" },
        { value: "RN", text: "Rio Grande do Norte" },
        { value: "RS", text: "Rio Grande do Sul" },
        { value: "RO", text: "Rondônia" },
        { value: "RR", text: "Roraima" },
        { value: "SC", text: "Santa Catarina" },
        { value: "SP", text: "São Paulo" },
        { value: "SE", text: "Sergipe" },
        { value: "TO", text: "Tocantins" },
      ],
    };
  },
  mounted() {
    this.carredarDados();
  },
  methods: {
    cadastrarEndereco() {
      // remove array de cidade * Não precisa ser enviado pra api
      delete this.userEndereco.cidades;

      if (Object.values(this.userEndereco).includes("", null)) {
        // conversao dos objetos em arrays e verificando quais estão vazios
        let campos = Object.entries(this.userEndereco);

        campos.forEach((element) => {
          console.log(element[1] == "" || element[1] == null);
          this.$toastr.i(`Favor preencha o campo ${element[0]}`);
          return;
        });
      }

      let baseUrl = "http://127.0.0.1:8000/api/";
      this.$axios
        .post(`${baseUrl}endereco/create`, this.userEndereco)
        .then((response) => {
          let resultado = response.data;
          if (resultado.ok) {
            this.$router.push("/");
            this.$toastr.s("Cadastro efetuado com sucesso");
          } else {
            this.$toastr.w(resultado.erro);
          }
        })
        .catch((e) => {
          console.log("Excecao ao  logar", e.message);
          this.$toastr.e("Erro no servidor");
          this.loadBtn = false;
        })
        .finally(() => (this.loadBtn = false));
    },
    carredarDados() {
      this.id = JSON.parse(sessionStorage.getItem("id"));
      if (!this.id) {
        this.$toastr.w("Impossível conectar");

        sessionStorage.clear();
        return;
      }

      this.loadFull = true;
      this.$axios
        .get(`http://127.0.0.1:8000/api/clientes/${this.id}`)
        .then((e) => {
          let corpo = e.data.dados;
          // console.log(corpo);
          this.enderecosCadastrados = corpo.enderecos;
        })
        .catch((e) => {
          this.$toastr.w("Impossível conectar");

          this.loadFull = false;
          if (e.response.status === 401) {
            this.$toastr.w("Realizar login novamente");
            sessionStorage.clear();
          }
        })
        .finally(() => (this.loadFull = false));
    },
    setPlace(place) {
      this.place = place;
    },
    usePlace(place) {
      if (this.place) {
        this.userEndereco.latitude = this.place.geometry.location.lat();
        this.userEndereco.logitude = this.place.geometry.location.lng();
        // this.place = null;
      }
    },
  },
};
</script>

<style scoped></style>
