<template>
  <div class="home">
    <Nav />
    <v-container>
      <v-text-field
        style="width:20%;float:left"
        v-model="somente"
        label="Nome, Cpf, E-mail"
        required
      ></v-text-field>
      <v-row justify="center">
        <v-col class="mb-4">
          <v-pagination
            class="subheading mx-3"
            v-model="current_page"
            :length="last_page"
          ></v-pagination>
        </v-col>
        <b>Total de cliente(s): {{ total_users }}</b>
      </v-row>
      <v-row v-if="users.length">
        <v-card
          width="450"
          max-width="644"
          v-for="(user, indexUser) in users"
          style="margin:10px"
          :key="indexUser"
          outlined
        >
          <v-list-item three-line>
            <v-list-item-content>
              <div class="overline mb-4">
                Nascimento - {{ user.nascimento | moment("DD/MM/YYYY") }}
              </div>
              <v-list-item-title class="headline mb-1"
                >Cliente: {{ user.name }}</v-list-item-title
              >
              <v-list-item-subtitle
                >Criado em
                {{
                  user.created_at | moment("DD/MM/YYYY")
                }}</v-list-item-subtitle
              >
            </v-list-item-content>

            <v-list-item-avatar
              tile
              size="80"
              color="grey"
            ></v-list-item-avatar>
          </v-list-item>

          <v-card-actions v-if="user.enderecos.length">
            <v-btn color="primary" :to="`/perfil/${user.id}`">Perfil</v-btn>
            <v-btn color="error" @click="deleteUser(user.id)">Excluir</v-btn>

            <!-- <v-btn text>Button</v-btn> -->
          </v-card-actions>
          <v-card-actions v-else>
            <v-btn color="green" @click="abrirDetalhe(user)">Detalhe</v-btn>
            <v-btn color="error" @click="deleteUser(user.id)">Excluir</v-btn>
          </v-card-actions>
        </v-card>
      </v-row>
      <div v-else>
        <h4 style="text-align:center">Não possui usuarios</h4>
      </div>

      <v-dialog v-model="dialog" width="800px">
        <v-card v-if="dialog">
          <v-card-title class="primary">
            Detalhes do perfil
          </v-card-title>
          <v-container>
            <v-row class="mx-2">
              <v-col class="align-center justify-space-between" cols="6">
                <v-row align="center" class="mr-0">
                  <v-avatar size="40px" class="mx-3">
                    <img
                      src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png"
                      alt=""
                    />
                  </v-avatar>
                  <v-text-field
                    placeholder="Nome do cliente"
                    disabled
                    v-model="user.name"
                  ></v-text-field>
                </v-row>
              </v-col>
              <v-col cols="6">
                <div v-for="(item, index) in user.acessos" :key="index">
                  <v-text-field
                    prepend-icon="mdi-account-card-details-outline"
                    disabled
                    v-model="item.email"
                  ></v-text-field>
                </div>
              </v-col>
              <!-- <v-col cols="6">
                <v-text-field
                  prepend-icon="mdi-account-card-details-outline"
                  placeholder="Company"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field placeholder="Job title"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  prepend-icon="mdi-mail"
                  placeholder="Email"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  type="tel"
                  prepend-icon="mdi-phone"
                  placeholder="(000) 000 - 0000"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  prepend-icon="mdi-text"
                  placeholder="Notes"
                ></v-text-field>
              </v-col> -->
            </v-row>
          </v-container>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click="fecharDetalhe">Fechar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-overlay :value="loadFull">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
    </v-container>
  </div>
</template>

<script>
import Nav from "@/components/_Nav";

export default {
  name: "Home",
  components: {
    Nav,
  },
  data() {
    return {
      loadFull: false,
      somente: "",
      current_page: 1,
      last_page: 1,
      users: [],
      user: {},
      total_users: 0,
      dialog: false,
    };
  },
  async mounted() {
    this.listaUsers();
  },
  watch: {
    current_page: function(new_page) {
      this.listaUsers(this.query, new_page);
    },
    somente: function(new_query) {
      this.listaUsers(new_query, this.current_page);
    },
    $route(to, from) {
      this.listaUsers();
    },
  },
  methods: {
    listaUsers(busca = "", page = 1) {
      this.loadFull = true;
      this.$axios
        .get(`http://127.0.0.1:8000/api/clientes?page=${page}&somente=${busca}`)
        .then((e) => {
          let corpo = e.data;
          if (typeof corpo !== "object") {
            this.loadFull = false;

            this.$toastr.e("Erro interno");
          } else {
            this.users = corpo.users.data;
            this.current_page = corpo.users.current_page;
            this.last_page = corpo.users.last_page;
            this.total_users = corpo.users.total;
            this.loadFull = false;
          }
        })
        .catch((e) => {
          this.$toastr.w("Impossível conectar");

          this.loadFull = false;
          if (e.response.status === 401) {
            this.$toastr.w("Realizar login novamente");
            sessionStorage.clear();
          }
        })
        .finally(() => (this.loadFull = false));
    },
    abrirDetalhe(user) {
      this.user = user;
      this.dialog = true;
    },
    fecharDetalhe() {
      (this.user = {}), (this.dialog = false);
    },
    deleteUser(id = null) {
      if (!id) {
        this.$toastr.w("Não encontrado usuario");
      }
      this.loadFull = true;
      this.$axios
        .delete(`http://127.0.0.1:8000/api/clientes/${id}`)
        .then((e) => {
          let corpo = e.data;
          if (corpo.ok) {
            this.$toastr.s("Usuario deletado");
            this.listaUsers();
          } else {
            this.$toastr.w(corpo.erro);
          }
        })
        .catch((e) => {
          this.$toastr.w("Impossível conectar");

          this.loadFull = false;
          if (e.response.status === 401) {
            this.$toastr.w("Realizar login novamente");
            sessionStorage.clear();
          }
        })
        .finally(() => (this.loadFull = false));
    },
  },
};
</script>
