<template>
  <v-app id="inspire">
    <v-main>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title>Login</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="E-mail"
                    v-model="login"
                    prepend-icon="mdi-account"
                    type="text"
                    :rules="emailRules"
                  ></v-text-field>

                  <v-text-field
                    id="password"
                    label="Senha"
                    v-model="password"
                    prepend-icon="mdi-lock"
                    type="password"
                    @keyup.enter="handleSubmit()"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn to="/cadastro-user" color="sucesss">Cadastra-se</v-btn>
                <v-btn
                  :loading="loadBtn"
                  color="primary"
                  @click="handleSubmit()"
                  >Login</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      loadBtn: false,
      login: "",
      password: "",
      emailRules: [
        (v) => !!v || "E-mail é obrigatório",
        (v) => /.+@.+\..+/.test(v) || "E-mail deve ser válido",
      ],
    };
  },
  methods: {
    handleSubmit() {
      this.loadBtn = true;
      let _dados = {
        email: this.login,
        password: this.password,
      };

      if (this.password.length > 0) {
        let baseUrl = "http://127.0.0.1:8000/api/";
        this.$axios
          .post(`${baseUrl}clientes/login`, _dados)
          .then((response) => {
            let resultado = response.data;
            if (resultado.ok) {
              let body = resultado.ok;
              sessionStorage.setItem("user", JSON.stringify(body));
              sessionStorage.setItem("id", JSON.stringify(body.id));
              sessionStorage.setItem("jwt", JSON.stringify(body.jwt));
              sessionStorage.setItem(
                "acessoUser",
                JSON.stringify(body.acessos)
              );
              if (sessionStorage.getItem("jwt") != null) {
                this.$emit("loggedIn");
                if (this.$route.params.nextUrl != null) {
                  this.$router.push(this.$route.params.nextUrl);
                } else {
                  this.$router.push("/");
                }
              }
            } else {
              this.$toastr.w(resultado.error);
            }
          })
          .catch((e) => {
            console.log("Excecao ao  logar", e.message);
            this.$toastr.e("Erro no servidor");
            this.loadBtn = false;
          })
          .finally(() => ((this.loadBtn = false), (this.password = "")));
      } else {
        this.$toastr.i("Informe sua senha");
        this.loadBtn = false;
      }
    },
  },
};
</script>
