<template>
  <div>
    <Nav />
    <v-container>
      <v-card>
        <v-card-title class="primary">
          Atualização de cadastro
        </v-card-title>
        <v-container>
          <v-row class="mx-2">
            <v-col class="align-center justify-space-between" cols="12">
              <v-row align="center" class="mr-0">
                <v-avatar size="40px" class="mx-3">
                  <img
                    src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png"
                    alt=""
                  />
                </v-avatar>
                <v-text-field
                  placeholder="Logadouro"
                  v-model="usuario.logadouro"
                ></v-text-field>
              </v-row>
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="usuario.numero_imovel"
                prepend-icon="mdi-account-card-details-outline"
                type="number"
                placeholder="Número imovel"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="usuario.complemento"
                placeholder="Complemento"
              ></v-text-field>
            </v-col>
                        <v-col cols="6">
              <v-text-field
                v-model="usuario.cpf"
                placeholder="Cpf"
                v-mask="'###.###.###-##'"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-select
                :items="estados"
                v-model="usuario.estado"
                label="Estado"
              ></v-select>
            </v-col>
            <v-col cols="12">
              <v-select
                :items="usuario.cidades"
                ref="selectCidade"
                v-model="usuario.cidade"
                :reduce="(user) => user.cidade"
                no-data-text="Não selecionado estado"
                label="Cidade"
              ></v-select>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="usuario.bairro"
                prepend-icon="mdi-text"
                placeholder="Bairro"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="usuario.email"
                prepend-icon="mdi-text"
                placeholder="E-mail"
              ></v-text-field>
            </v-col>

            <v-col class="mb-8">
              <label>
                <h3>Localização</h3>
                <gmap-autocomplete
                  class="form-control"
                  style="width: 100%"
                  placeholder="Digite seu endereço"
                  @place_changed="setPlace"
                  :options="{ fields: ['geometry', 'address_components'] }"
                >
                </gmap-autocomplete>
                <v-btn small color="green" @click="usePlace"
                  >Adicionar localização no mapa</v-btn
                >
              </label>
              <br />
              <br />

              <gmap-map
                :center="{ lat: -4.9609498, lng: -45.2744159 }"
                :zoom="4"
                style="width: 100%; height: 500px"
                :options="{ scrollwheel: true }"
                ref="map"
              >
                <gmap-cluster>
                  <gmap-marker
                    :position="{
                      lat: Number(usuario.latitude),
                      lng: Number(usuario.logitude),
                    }"
                    :draggable="false"
                    :icon="usuario.icon"
                    :title="`Endereco localizao ${usuario.name}`"
                  ></gmap-marker>
                </gmap-cluster>
              </gmap-map>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <!-- <v-btn text color="primary">More</v-btn> -->
          <v-spacer></v-spacer>
          <v-btn color="error" to="/">Cancelar</v-btn>
          <v-btn color="primary" @click="atualizarCadastro">Atualizar</v-btn>
        </v-card-actions>
      </v-card>
      <v-overlay :value="loadFull">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
    </v-container>
  </div>
</template>

<script>
import Nav from "@/components/_Nav";

import brasil from "../assets/json/brasil.json";

import { gmapApi } from "vue2-google-maps";

export default {
  name: "Profile",
  components: {
    Nav,
  },
  computed: {
    google: gmapApi,
  },
  data() {
    return {
      id: this.$route.params.id,
      loadFull: false,
      usuario: {
        name: "",
        nascimento: "",
        email: "",
        cpf: "",
        logadouro: "",
        numero_imovel: 0,
        complemento: "",
        bairro: "",
        cidade: "",
        estado: "",
        latitude: null,
        logitude: null,
        cidades: [],
      },
      place: null,
      estados: [
        { value: null, text: "Selecione um estado" },
        { value: "AC", text: "Acre" },
        { value: "AL", text: "Alagoas" },
        { value: "AP", text: "Amapá" },
        { value: "AM", text: "Amazonas" },
        { value: "BA", text: "Bahia" },
        { value: "CE", text: "Ceará" },
        { value: "DF", text: "Distrito Federal" },
        { value: "ES", text: "Espírito Santo" },
        { value: "GO", text: "Goiás" },
        { value: "MA", text: "Maranhão" },
        { value: "MT", text: "Mato Grosso" },
        { value: "MS", text: "Mato Grosso do Sul" },
        { value: "MG", text: "Minas Gerais" },
        { value: "PA", text: "Pará" },
        { value: "PB", text: "Paraíba" },
        { value: "PR", text: "Paraná" },
        { value: "PE", text: "Pernambuco" },
        { value: "PI", text: "Piauí" },
        { value: "RJ", text: "Rio de Janeiro" },
        { value: "RN", text: "Rio Grande do Norte" },
        { value: "RS", text: "Rio Grande do Sul" },
        { value: "RO", text: "Rondônia" },
        { value: "RR", text: "Roraima" },
        { value: "SC", text: "Santa Catarina" },
        { value: "SP", text: "São Paulo" },
        { value: "SE", text: "Sergipe" },
        { value: "TO", text: "Tocantins" },
      ],
    };
  },
  watch: {
    "usuario.estado"() {
      this.usuario.cidades = brasil[this.usuario.estado].cidades;
    },
  },
  mounted() {
    this.carregaPergil();
  },
  methods: {
    carregaPergil() {
      // Carrega dados do cliente para cadastro do endereco
      if (!this.id) {
        this.$toastr.w("Impossível conectar");

        sessionStorage.clear();
        return;
      }

      this.loadFull = true;
      this.$axios
        .get(`http://127.0.0.1:8000/api/clientes/${this.id}`)
        .then((e) => {
          let corpo = e.data.dados;
          let { enderecos, ...resto } = corpo;

          let ultimo_endereco = enderecos[enderecos.length - 1];

          this.usuario = {
            name: resto.name,
            nascimento: resto.nascimento,
            email: resto.acessos[resto.acessos.length - 1].email,
            logadouro: ultimo_endereco.logadouro,
            numero_imovel: ultimo_endereco.numero_imovel,
            complemento: ultimo_endereco.complemento,
            bairro: ultimo_endereco.bairro,
            cidade: ultimo_endereco.cidade,
            estado: ultimo_endereco.estado,
            latitude: Number(ultimo_endereco.latitude),
            logitude: Number(ultimo_endereco.longitude),
            cpf: resto.cpf,
            icon: {
              url: "http://127.0.0.1:8000/img/map-marker.png",
              scaledSize: { width: 25, height: 25 },
            },
          };
          // this.$refs.selectCidade.updateValue(this.usuario.cidade);
          console.log(this.usuario);
        })
        .catch((e) => {
          this.loadFull = false;
          if (e.response.status === 401) {
            this.$toastr.w("Realizar login novamente");
            sessionStorage.clear();
          }
        })
        .finally(() => (this.loadFull = false));
    },
    setPlace(place) {
      this.place = place;
    },
    usePlace(place) {
      if (this.place) {
        this.usuario.latitude = this.place.geometry.location.lat();
        this.usuario.logitude = this.place.geometry.location.lng();
        // this.place = null;
      }
    },
    atualizarCadastro() {
      delete this.usuario.icon;
      delete this.usuario.cidades;

      // conversao dos objetos em arrays e verificando quais estão vazios
      if (Object.values(this.usuario).includes("", null)) {
        let campos = Object.entries(this.usuario);

        campos.forEach((element) => {
          console.log(element[1] == "" || element[1] == null);
          this.$toastr.i(`Favor preencha o campo ${element[0]}`);
          return;
        });
      }

      this.loadBtn = true;
      let baseUrl = "http://127.0.0.1:8000/api/";
      this.$axios
        .put(`${baseUrl}clientes/${this.id}`, this.usuario)
        .then((response) => {
          let resultado = response.data;
          if (resultado.ok) {
            this.$toastr.s(resultado.ok);
            this.$router.push("/");
          } else {
            this.$toastr.w(resultado.erro);
          }
        })
        .catch((e) => {
          console.log("Excecao ao  logar", e.message);
          this.$toastr.e("Erro no servidor");
          this.loadBtn = false;
        })
        .finally(() => ((this.loadBtn = false)));

      
    },
  },
};
</script>

<style scoped></style>
