<template>
  <div class="home">
    <v-overlay :value="overlayLoad">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <v-navigation-drawer v-model="drawer" absolute temporary>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>{{ user.name }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list nav dense>
        <v-list-item to="/" link>
          <v-list-item-icon>
            <v-icon>mdi-account</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Inicio</v-list-item-title>
        </v-list-item>
        <v-list-item to="/cadastro/endereco" link>
          <v-list-item-icon>
            <v-icon>mdi-home</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Endereço</v-list-item-title>
        </v-list-item>
        <v-list-item @click="logout" link>
          <v-list-item-icon>
            <v-icon>mdi-logout</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Sair</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>CadastroGeo</v-toolbar-title>
    </v-toolbar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      overlayLoad: false,
      drawer: false,
      user: {},
    };
  },
  created() {
    this.getCredenciais();
  },
  methods: {
    logout() {
      sessionStorage.clear();
      this.$router.push("/login");
    },
    getCredenciais() {
      let baseUrl = "http://127.0.0.1:8000/api/";

      let token = sessionStorage.getItem("jwt");
      let id = JSON.parse(sessionStorage.getItem("id"));

      this.$axios.defaults.headers.common["Authorization"] =
        "Bearer " + JSON.parse(token);
      this.$axios
        .get(`${baseUrl}clientes/${id}`)
        .then((res) => {
          let body = res.data;
          if (body.dados) {
            this.user = body.dados;
          } else {
            this.$toastr.w("Aconteceu algo inesperado");
          }
        })
        .catch((e) => {
          
          if (e.response.status === 401) {
            this.$toastr.w("Realizar login novamente");
            sessionStorage.clear();
          }
          console.error("Excecao ao buscar dados de usuario", e.message);
        });
    },
  },
};
</script>

<style scoped></style>
